<!DOCTYPE html>
<html ng-app="cardStatusApp">
<head>
	<meta charset="UTF-8">
	<title>CardStatus</title>
	<link rel="stylesheet" href="../views/css/custom.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
	<script src="../../bower_components/angular/angular.js"></script>
</head>
<body>

<div class="cards-container" ng-controller="cardStatusCtrl">
	<div class="cards-row" ng-repeat="card in cardStatus" >
		<div class="cards-cell">
			<div class="card">
				<div ng-style="{ background: color(card) }" class="card-average">{{card.trend.average * 100 | number:0}}<span class="average-percent">%</span></div>
				<div class="card-details">
					<div class="detail-row bold-text card-type"><span class="detail-cell">{{card.type}}</span></div>
					<div class="detail-row"><span class="detail-cell cell-label">Total: </span><span class="detail-cell bold-text cell-span"> {{card.trend.total}}</span><span class="detail-cell cell-um">tr.</span></div>
					<div class="detail-row"><span class="detail-cell cell-label">Week: </span><span class="detail-cell bold-text cell-span">{{card.trend.week}}</span><span class="detail-cell cell-um">tr.</span></div>
					<div class="detail-row">
						<span class="detail-cell cell-label">
							<i ng-class="{'icon-caret-up card-last-week-up' : card.trend.l_w_t == '+',
										  'icon-caret-down card-last-week-down' : card.trend.l_w_t == '-'
										 }"></i>
							<span  ng-class="{'bold-text card-last-week-up' : card.trend.l_w_t === '+',
											  'bold-text card-last-week-down' : card.trend.l_w_t === '-',
											  'bold-text ' : card.trend.l_w_t === '='
											 }">{{card.trend.l_week * 100 | number:0}}%</span>
						</span>
						<span class="detail-cell cell-span"> on last week</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="../cardStatusApp.js"></script>
<script src="../controllers/cardStatusCtrl.js"></script>
<script src="../services/cardStatusService.js"></script>

</body>
</html>